@charset "utf-8";
body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    margin: 0;
    padding: 0;
}
.persentElement sup {
    font-size: 28px;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.visuallyHidden {
    visibility: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
/*Стилли для Index*/
header a {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    display: block;
    position: relative;
}
.basket {
    padding-top: 7px;
}
.basket::before {
    content: url("../img/cart-icon.svg");
    width: 15px;
    height: 15px;
    margin-right: 22px;
}
.containerPart1 {
    background-color: #eeeeee;
}
.menuHeaderPart1 {
    margin: 0 auto;
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
    padding-left: 20px;
    padding-right: 20px;
}
.menuHeaderPart1 ul {
    width: 438px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -43px;
    padding-top: 10px;
    justify-content: space-between;
}
.displayNone {
    display: none;
}
.promoSlids {
    background-color: #eeeeee;
}
.titlePromo .title {
    font-size: 55px;
    font-weight: 500;
    display: block;
    width: 550px;
    line-height: 55px;
}
.titlePromo .titlePromoText {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    width: 430px;
    color: #283136;
    margin-top: 28px;
}
.titlePromo li:nth-child(1)::before {
    content: "";
    position: absolute;
    width: 698px;
    height: 413px;
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    left: 431px;
    top: 8px;
}
.titlePromo li:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 663px;
    height: 430px;
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    left: 495px;
    top: -9px;
}
.titlePromo li:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 759px;
    height: 411px;
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    left: 400px;
    top: 9px;
}
.titlePromoLink {
    display: block;
    width: 240px;
    padding: 16px 0;
    background-color: #fb565a;
    text-align: center;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 40px;
}
.titlePromoLink:hover {
    background-color: #e74246;
}
.titlePromoLink:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.titlePromoLink:active span {
    opacity: 0.3;
}
.product {
    position: relative
}
.ilustration1 {
    content: "";
    background-image: url("../img/illustration-1.png");
    background-repeat: no-repeat;
    width: 300px;
    height: 146px;
    top: 0px;
}
.order1 {
    display: block;
    width: 160px;
    background-color: #fb565a;
    text-align: center;
    padding: 17px 0;
    color: #ffffff;
    line-height: 18px;
}
.order1:hover {
    background-color: #e74246;
}
.order1:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.order1:active span {
    opacity: 0.3
}
.order2 {
    display: block;
    width: 160px;
    padding: 17px 0;
    background-color: #00ca74;
    text-align: center;
    line-height: 18px;
    color: #ffffff;
}
.order2:hover {
    background-color: #00bc6c;
}
.order2:active span {
    opacity: 0.3
}
.order2:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
}
.order3 {
    display: block;
    width: 160px;
    padding: 17px 0;
    background-color: #efc84a;
    text-align: center;
    line-height: 18px;
    color: #ffffff;
}
.order3:hover {
    background-color: #eab534;
}
.order3:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
}
.order3:active span {
    opacity: 0.3;
}
.product {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}
.aboutMe {
    margin: 0 auto;
    width: 1160px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    min-height: 485px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    padding-left: 20px;
    padding-right: 20px;
}
.aboutMeTitle {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    margin-top: 35px;
}
.aboutMeTitle + p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    width: 616px;
    color: #283136;
}
.ulTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.aboutMeText p:nth-child(2) {
    margin-top: 33px;
    margin-bottom: 36px;
}
.aboutMeText li {
    display: block;
    list-style: none;
    color: #283136;
    font-weight: 400;
    line-height: 24px;
}
.aboutMeText li::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    margin: 0 11px 4px -37px;
}
.aboutMePercent span {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.persent_container p:nth-child(1) {
    font-size: 45px;
    font-weight: 700;
}
.persent_container p:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}
.aboutMePercent {
    display: flex;
    flex-direction: column;
    width: 360px;
}
.aboutMePercent span {
    display: block;
    margin-top: 36px;
    margin-bottom: 49px;
}
.aboutMePercent span {
    text-align: center;
}
.persent_container {
    display: flex;
}
.persent_container div {
    width: 106px;
}
.persent_container div:nth-child(2n) {
    margin: 0 14px;
}
.partnersContainer {
    margin: 0 auto;
    width: 1160px;
    border-bottom: 2px solid #eeeeee;
    padding-left: 20px;
    padding-right: 20px;
}
.partners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 35px;
    flex-wrap: wrap;
}
.partners li:nth-child(1) {
    padding-top: 11px;
    padding-left: 7px;
}
.partners li:nth-child(2) {
    position: relative;
    left: 1px;
    top: -6px;
}
.partners li:nth-child(3) {
    padding-right: 6px;
}
.partners li:nth-child(4) {
    position: relative;
    left: -9px;
    top: -6px;
}
.partners li:nth-child(5) {
    padding-right: 25px;
    padding-top: 4px;
}
.partners li:nth-child(6) {
    position: relative;
    top: -6px;
    left: -17px;
}
.partners li:nth-child(7) {
    padding-right: 19px;
    padding-top: 6px;
}
.partners a {
    opacity: 0.2;
}
.partners a:hover {
    opacity: 1;
}
.partners a:active {
    opacity: 0.1;
}
.map {
    position: absolute;
    width: 319px;
    height: 308px;
    background-color: #ffffff;
    top: 55px;
    left: 14.3%;
    transform: translateX(-11.8%);
}
.map a:nth-child(3) {
    margin-top: 20px;
}

.containerMap {
    margin-top: 80px;
    position: relative;
}

.containerMapCatalog {
    margin-top: 60px;
    position: relative;
}
.map p {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin: 0px;
}
.map address {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    color: #666666;
    margin-top: 24px;
}
.map a:nth-child(-n+3) {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
}
.WriteUs {
    width: 219px;
    background-color: #fb565a;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-top: 37px;
    padding-top: 17px;
    padding-bottom: 15px;
}
.WriteUs:hover{
    background-color: #e74246;
}
.costProduct:hover {
    background-color: #e74246;
}
.WriteUs:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.costProduct:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.WriteUs:active span {
    opacity: 0.3
}
.costProduct:active span {
    opacity: 0.3
}
.Contacts {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 79px;
    margin-top: 61px;
    margin-bottom: 76px;
    padding-left: 20px;
    padding-right: 20px;
}
.sale span {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}
.sale p {
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    line-height: 11px;
}
.feedbackInputs {
    width: 341px;
    height: 46px;
    opacity: 0.5;
    color: #444444;
    line-height: 18px;
    padding-left: 15px;
    margin-top: 3px;
    
}
.feedbackFormHover:hover {
    border: 2px solid #b4b9bb;
}
.feedbackFormFocus:focus {
    border: 2px solid #000000;
    color: #444444;
    opacity: 1.0;
    font-weight: 400;
    line-height: 18px;
}
.feedbackFormInvalid:invalid {
    border-color: #e74246;
    color: #e74246;
}
.popUp {
    display: none;
    position: fixed;
    bottom: 179px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    background-color: #ffffff;
    padding: 38px 74px 84px 99px;
    height: 453px;
    width: 786px;
    margin: 0 auto;
    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}
.feedbackForm {
    display: flex;
    flex-direction: column;
    width: 760px;
    margin-top: 35px;
}
.popUp p {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    margin-top: 13px;
}
.popUp label {
    font-size: 16px;
    font-weight: 700;
}
label[for="popUp_textarea"] {
    margin-top: 27px;
}
.popUpBtn {
    width: 260px;
    height: 50px;
    background-color: #fb565a;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 47px;
}
.popUpBtn:hover {
    background-color: #e74246;
}
.popUpBtn:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.popUpBtn:active span {
    opacity: 0.3
}
/***********************************************/
/*Стилизация catalog*/
.catalogTitle {
    margin: 0 auto;
    width: 1160px;
    text-align: center;
    display: block;
    padding-top: 68px;
    padding-bottom: 109px;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    background-color: #eeeeee;
    padding-left: 20px;
    padding-right: 20px;
}
.filtr form {
    width: 260px;
}
.filtr legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
.productSort {
    display: flex;
    align-items: center;
    width: 760px;
    justify-content: space-between;
}
.productSort P {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}
.itemsContainer {
    width: 760px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 56px;
}
.containerMainCatalog {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.productSort a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
}
.productSort a:hover {
    opacity: 1;
}
.productSort a:focus {
    opacity: 1;
}
.PropertyBtn {
    width: 260px;
    height: 50px;
    background-color: #eeeeee;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    border: none;
    text-transform: uppercase;
    margin-top: 42px;
}
.PropertyBtn:hover {
    background-color: #dfdfdf;
}
.PropertyBtn:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}
.PropertyBtn:active span {
    opacity: 0.3;
}
.pages {
    display: flex;
    margin-top: 26px;
}
.pages a {
    width: 50px;
    height: 50px;
    display: block;
    background-color: #eeeeee;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    margin-right: 11px;
}
.pages a:nth-child(-n+5):hover {
    background-color: #dfdfdf;
}
.pages a:nth-child(-n+5):active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}
.pages a:nth-child(-n+5):active span {
    opacity: 0.3;
}
.pages a:nth-child(4) {
    width: 260px;
    height: 50px;
}
.variantsNetwork label {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.titlePromo {
    padding: inherit;
    position: relative
}
.headerLinkActive a::after {
    display: block;
    content: " ";
    height: 2px;
    background-color: #fb565a;
    position: relative;
    top: 3px;
}
.headerLinks a:hover, .headerLinks + a:hover {
    color: #fb565a;
}
.headerLinks a:active, .headerLinks + a:active {
    color: #000000;
    opacity: 0.3;
}
.titlePromo li {
    padding-top: 67px;
}
input[type="radio"] label::before {
    content: " ";
    width: 18px;
    height: 18px;
    background-image: url("../img/radio-off.svg");
}
.sliderControls i {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50%;
}
.sliderControls i.active::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 2px solid #c1c1c1;
    margin: 3px;
}
.productCart {
    width: 300px;
    height: 347px;
}
.productCart a {
    margin-top: 32px;
}
.productCart:nth-child(odd) {
    margin: 0 100px;
}
.productCart p:nth-child(1) {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.ilustration2 {
    content: "";
    background-image: url("../img/illustration-2.png");
    background-repeat: no-repeat;
    width: 300px;
    height: 146px;
    top: 0px;
}
.ilustration3 {
    content: "";
    background-image: url("../img/illustration-3.png");
    background-repeat: no-repeat;
    width: 300px;
    height: 146px;
    top: 0px;
}
.socialNetwork {
    display: flex;
    min-width: 260px;
}
.Social {
    display: inline-block;
    width: 79px;
    height: 79px;
    margin-right: 12px;
    background-color: #e1e1e1;
    border-radius: 50%;
}
.Social:hover {
    background-color: #e74246;
}
.Social:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}
.Vk {
    background-image: url("../img/vk-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.Vk:active {
    background-blend-mode: soft-light;
}
.Fb {
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.Fb:active {
    background-blend-mode: soft-light;
}
.Insta {
    background-image: url("../img/insta-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.Insta:active {
    background-blend-mode: soft-light;
}
.logotype:hover {
    opacity: 0.8;
}
.logotype:active {
    opacity: 0.3
}
.items_cart {
    position: relative;
    margin: 0;
    padding: 0;
    width: 360px;
    min-height: 231px;
    background-color: #eeeeee;
}
.titleProduct, .descriptionProduct, .costProduct {
    display: block;
}
.promoSlidsContainer {
    position: relative;
    margin: 0 auto;
    width: 1160px;
    min-height: 421px;
    padding-left: 20px;
    padding-right: 20px;
}
.aboutMeText {
    width: 650px;
}
.containerMapText {
    margin: 0;
    padding: 0px;
    width: 219px;
    min-height: 219px;
    transform: translateX(50px) translateY(47px);
    display: flex;
    flex-direction: column;
}
.container__mapText p {
    padding-top: 2px;
}
.container__mapText address {
    margin-top: 22px;
}
.container__mapText a {
    margin-top: 20px;
    padding-left: 2px;
}
form fieldset {
    border: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.variantsNetworkList {
    margin-top: 12px;
}
.variantsNetworkList li:nth-child(n+2) {
    margin-top: 11px;
}
.variantsNetworkList, .propertyList {
    margin: 0;
    padding: 0;
    position: relative;
}
.variantsNetworkList li, .propertyList li {
    padding-left: 37px;
}
.propertyList {
    margin-top: 11px;
}
.propertyList li:nth-child(n+2) {
    margin-top: 10px;
}
.listIndex li {
    margin-bottom: 24px;
}
input[type="radio"]:checked + label::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 0px
}
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 0px
}
input[type="checkbox"]:checked + label::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 0px
}
input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../img/checkbox-off.svg");
    
    background-repeat: no-repeat;
    position: absolute;
    left: 0px
}
.itemHeader {
    width: 360px;
    height: 40px;
    background-image: url("../img/browser.svg");
    background-repeat: no-repeat;
    opacity: 0.12;
}
.itemsCart:hover .itemHeader {
    opacity: 1;
}
.descriptionProduct {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
    margin-top: 15px;
    width: 227px;
    text-align: center;
    transform: translateX(30%);
}
.titleProduct {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-top: 28px;
    color: #000000;
}
.titleProduct:hover {
    color: #fb565a;
}
.titleProduct:active {
    opacity: 0.3;
    color: #000000;
}
.descriptionItem {
    width: 360px;
    height: 231px;
    background-color: #eeeeee;
    overflow: auto;
    position: absolute;
    top: 385px;
    display: none;
}
.costProduct {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #fb565a;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    font-weight: 500;
    width: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 31px;
    transform: translateX(40%);
}
.itemsCart:hover .descriptionItem {
    display: block;
}
.pagesActive {
    font-size: 16px;
    font-weight: 500;
    line-height: 44px;
    border: 3px solid #dbdbdb;
    width: 44px;
    height: 44px;
    display: inline-block;
    text-align: center;
    margin-right: 11px;
}
.rangeControls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.rangeControls .scale {
    height: 2px;
    background: #d7dcde;
}
.rangeControls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}
.rangeControls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
.rangeControls .toggleMin {
    left: 50px;
}
.rangeControls .toggleMax {
    left: 110px;
}
.priceControls {
    font-size: 0;
}
.priceControls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
}
.priceControls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
.max-price {
    text-align: right;
}
.feedbackForm textarea {
    width: 726px;
    height: 89px;
    resize: none;
    padding-top: 11px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 14px;
    overflow: auto;
    border: 2px solid #d7dcde;
    opacity: 0.5;
    color: #444444;
    line-height: 18px;
    margin-top: 3px;
}
.feedbackFormContainer {
    display: flex;
    justify-content: space-between;
}
.feedbackFormInput {
    display: flex;
    flex-direction: column;
}
.sliderControls {
    position: absolute;
    left: 555px;
    top: 305px;
}
.sliderControls i:nth-child(2) {
    margin: 0 14px;
}
.titleProductCart {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 26px;
}
.descriptionProductCart {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #283136;
    margin-top: 15px
}
.listIndex {
    margin-top: 21px;
    margin-left: 38px;
}
.persentElement p:nth-child(2) {
    margin-top: 26px;
}
.partnersLine {
    content: "";
    display: inline-block;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
}
.sale {
    padding-right: 219px;
    padding-top: 5px;
}
.sale p {
    margin-top: 12px;
}
.rangeFilter {
    margin-top: 50px;
}
.variantsNetwork {
    margin-top: 54px;
}
.variantsNetwork legend {
    margin-bottom: 11px;
}
.filtr {
    margin-top: 54px;
}
.property {
    margin-top: 40px;
}
.itemsContainer1 {
    margin-top: 60px;
}
.itemsCart {
    position: relative;
    margin-bottom: 24px;
}
.popUpExit {
    position: relative;
    bottom: 428px;
    left: 749px;
    background-color: transparent;
    border: none;
    width: 21px;
    height: 21px;
    background-image: url("../img/close-cross.svg");
    cursor: pointer;
    opacity: 0.3;
}
.popUpExit:hover {
    opacity: 1.0;
}
.popUpExit:active {
    opacity: 0.1;
}
.popUpShow {
    display: block;
}

.productSortContainer {
    display: flex;
    min-width: 271px;
    margin-left: 218px;
}
.productSortContainer a:nth-child(n+2) {
    margin-left: 25px;
}

.productSortDownUp {
    display: flex;
    min-width: 40px;
}
.productSortDownUp a:nth-child(2) {
    margin-left: 17px;
}
.mainCatalog {
    display: flex;
    flex-direction: column;
}
.footer {
    display: flex;
    flex-direction: column;
}
.variantsNetworkList li{
    opacity: 0.4;
}
.variantsNetworkList li:hover {
    opacity: 1;
    outline: auto;
}
.variantsNetworkList li:disabled {
    opacity: 0.1;
}
.propertyList li {
    opacity: 0.4;
}
.propertyList li:hover {
    opacity: 1;
}
.propertyList li:disabled {
    opacity: 0.1;
}
.filterInputCheckbox:checked + label{
    opacity: 1;
}
/*Анимация*/
.popupOpenAnimate {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;

  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.popupClose {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;

  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.popupError {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;

  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(-50%, -100%, 0);
            transform: translate3d(-50%, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(-50%, -100%, 0);
            transform: translate3d(-50%, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(-50%, -200%, 0);
            transform: translate3d(-50%, -200%, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(-50%, -200%, 0);
            transform: translate3d(-50%, -200%, 0);
  }
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-60%, 0, 0);
            transform: translate3d(-60%, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(-40%, 0, 0);
            transform: translate3d(-40%, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-60%, 0, 0);
            transform: translate3d(-60%, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(-40%, 0, 0);
            transform: translate3d(-40%, 0, 0);
  }
}