@charset "utf-8";
body {
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.visually-hidden {
    visibility: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
/*Стилли для Index*/
header a {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}
.basket {
    padding-left: 26px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
}
.container {
    margin: 0 auto;
    background-color: #eeeeee;
}
.container_part1 {
    margin: 0 auto;
    width: 1160px;
}
.menuHeader__part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
}
.menuHeader__part1 ul {
    width: 438px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.displayNone {
    display: none;
}
.containerSlider__main {
    background-color: #eeeeee;
}
.promo_slids {
    margin: 0 auto;
    width: 1160px;
}
.title_promo .title {
    font-size: 55px;
    font-weight: bold;
    display: block;
    width: 380px;
    line-height: 55px;
}
.title_promo .titlePromoText {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    width: 365px
}
.title_promo li:nth-child(1)::after {
    background: url("../img/slide1.png")
}
.titlePromoLink {
    display: block;
    width: 240px;
    height: 50px;
    background-color: #fb565a;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}
.titlePromoLink:hover {
    background-color: #e74246;
}
.titlePromoLink:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.titlePromoLink:active span {
    opacity: 0.3;
}
.product_cart p:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
}
.product_cart p:nth-child(2) {
    display: block;
    width: 244px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}
.order_1 {
    display: block;
    width: 160px;
    height: 50px;
    background-color: #fb565a;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
}
.order_1:hover {
    background-color: #e74246;
}
.order_1:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.order_1:active span {
    opacity: 0.3
}
.order_2 {
    display: block;
    width: 160px;
    height: 50px;
    background-color: #00ca74;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
}
.order_2:hover {
    background-color: #00bc6c;
}
.order_2:active span {
    opacity: 0.3
}
.order_2:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
}
.order_3 {
    display: block;
    width: 160px;
    height: 50px;
    background-color: #efc84a;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
}
.order_3:hover {
    background-color: #eab534;
}
.order_3:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
}
.order_3:active span {
    opacity: 0.3;
}
.product {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.aboutMe {
    margin: 0 auto;
    width: 1160px;
    display: flex;
}
.aboutMe__title {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}
.aboutMe__title + p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    width: 616px;
}
.ulTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.aboutMe__text li {
    list-style-image: url("../img/aboutMe__marker_li.png");
}
.aboutMe__percent span {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.persent_container p:nth-child(1) {
    font-size: 45px;
    font-weight: 700;
}
.persent_container p:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}
.aboutMe__percent {
    display: flex;
    flex-direction: column;
}
.persent_container {
    display: flex;
}
.partners_container {
    margin: 0 auto;
    width: 1160px;
}
.partners {
    display: flex;
    justify-content: space-around;
}
.partners a {
    opacity: 0.2;
}
.partners a:hover {
    opacity: 1;
}
.partners a:active {
    opacity: 0.1;
}
.map {
    width: 319px;
    height: 308px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-left: 140px;
}
.container__map {
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 54px;
    width: 1440px;
    height: 416px;
}
.map p {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.map address {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    color: #666666;
}
.map a {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
}
.WriteUs {
    width: 219px;
    height: 50px;
    background-color: #fb565a;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
}
.WriteUs:hover {
    background-color: #e74246;
}
.WriteUs:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.WriteUs:active span {
    opacity: 0.3
}
.Contacts {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.socialNetwork {
    display: flex;
}
.sale span {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}
.sale p {
    font-size: 16px;
    font-weight: 400;
    color: #444444;
}
.popUp {
    width: 960px;
    margin: 0 auto;
}
.popUp p {
    font-size: 45px;
    font-weight: 500;
    line-height: 22px;
}
.popUp label {
    font-size: 16px;
    font-weight: 700;
}
.popUp__Btn {
    width: 260px;
    height: 50px;
    background-color: #fb565a;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
}
.popUp__Btn:hover {
    background-color: #e74246;
}
.popUp__Btn:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.popUp__Btn:active span {
    opacity: 0.3
}
/***********************************************/
/*Стилизация catalog*/
.catalogTitle {
    margin: 0 auto;
    width: 1160px;
    text-align: center;
    display: block;
    padding-top: 82px;
    padding-bottom: 116px;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    background-color: #eeeeee;
}
.filtr form {
    width: 260px;
}
.filtr legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
.productSort {
    display: flex;
    align-items: center;
    width: 760px;
    justify-content: space-between;
}
.productSort P {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}
.items__container {
    width: 760px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container__mainCatalog {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}
.productSort a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
}
.productSort a:hover, .productSort a:focus {
    opacity: 1;
}
.PROPERTY__btn {
    width: 260px;
    height: 50px;
    background-color: #eeeeee;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    border: none;
    text-transform: uppercase;
}
.PROPERTY__btn:hover {
    background-color: #dfdfdf;
}
.PROPERTY__btn:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}
.PROPERTY__btn:active span {
    opacity: 0.3;
}
.pages {
    display: flex;
}
.pages a:nth-child(1), .pages a:nth-child(2), .pages a:nth-child(3) {
    width: 50px;
    height: 50px;
    display: block;
    background-color: #eeeeee;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}
.pages a:nth-child(1):hover, .pages a:nth-child(2):hover, .pages a:nth-child(3):hover, .pages a:nth-child(4):hover {
    background-color: #dfdfdf;
}
.pages a:nth-child(1):active, .pages a:nth-child(2):active, .pages a:nth-child(3):active, .pages a:nth-child(4):active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}
.pages a:nth-child(1):active span, .pages a:nth-child(2):active span, .pages a:nth-child(3):active span, .pages a:nth-child(3):active span {
    opacity: 0.3;
}
.pages a:nth-child(4) {
    width: 260px;
    height: 50px;
    display: block;
    background-color: #eeeeee;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}