@charset "utf-8";
body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    margin: 0;
    padding: 0;
}
main, footer {
    display: flex;
    flex-direction: column;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.visually-hidden {
    visibility: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
/*Стилли для Index*/
header a {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}
.basket {
    display: block;
    position: relative;
}
.basket::before {
    position: absolute;
    content: "";
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: -26px;
    top: 25%;
    width: 15px;
    height: 15px;
}
.container_part1 {
    background-color: #eeeeee;
}
.menuHeader__part1 {
    margin: 0 auto;
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
}
.menuHeader__part1 ul {
    width: 438px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}
.displayNone {
    display: none;
}
.promo_slids {
    margin: 0 auto;
    width: 1160px;
    background-color: #eeeeee;
    min-height: 413px;
}
.title_promo .title {
    font-size: 55px;
    font-weight: 500;
    display: block;
    width: 380px;
    line-height: 55px;
}
.title_promo .titlePromoText {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    width: 365px;
    color: #283136;
}
.title_promo li:nth-child(1)::before {
    content: "";
    position: absolute;
    width: 698px;
    height: 413px;
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    left: 431px;
    top: -17px;
}
.titlePromoLink {
    display: block;
    width: 240px;
    padding: 13px 0;
    background-color: #fb565a;
    text-align: center;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 42px;
}
.titlePromoLink:hover {
    background-color: #e74246;
}
.titlePromoLink:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.titlePromoLink:active span {
    opacity: 0.3;
}
.product {
    position: relative
}
.ilustration_1::before {
    content: "";
    background-image: url("../img/illustration-1.png");
    background-repeat: no-repeat;
    width: 300px;
    height: 146px;
    position: absolute;
    top: 0px;
}
.product_cart p:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
}
.product_cart p:nth-child(2) {
    display: block;
    width: 244px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #283136;
}
.order_1 {
    display: block;
    width: 160px;
    background-color: #fb565a;
    text-align: center;
    padding: 13px 0;
    color: #ffffff;
    line-height: 18px;
}
.order_1:hover {
    background-color: #e74246;
}
.order_1:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.order_1:active span {
    opacity: 0.3
}
.order_2 {
    display: block;
    width: 160px;
    padding: 13px 0;
    background-color: #00ca74;
    text-align: center;
    line-height: 18px;
    color: #ffffff;
}
.order_2:hover {
    background-color: #00bc6c;
}
.order_2:active span {
    opacity: 0.3
}
.order_2:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
}
.order_3 {
    display: block;
    width: 160px;
    padding: 13px 0;
    background-color: #efc84a;
    text-align: center;
    line-height: 18px;
    color: #ffffff;
}
.order_3:hover {
    background-color: #eab534;
}
.order_3:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
}
.order_3:active span {
    opacity: 0.3;
}
.product {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 347px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.aboutMe {
    margin: 0 auto;
    width: 1160px;
    display: flex;
    padding-top: 49px;
    min-height: 446px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}
.aboutMe__title {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}
.aboutMe__title + p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    width: 616px;
    color: #283136;
}
.ulTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.aboutMe__text li {
    display: block;
    list-style: none;
    color: #283136;
    font-weight: 400;
    line-height: 24px;
}
/*Я сломал мозги и не понимаю, почему фоновое не хочет добавляться*/
.aboutMe__text li::before {
    position: relative;
    content: "";
    background-color: #fb565a;
    width: 25px;
    height: 2px;
}
.aboutMe__percent span {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.persent_container p:nth-child(1) {
    font-size: 45px;
    font-weight: 700;
}
.persent_container p:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}
.aboutMe__percent {
    display: flex;
    flex-direction: column;
}
.persent_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.partners_container {
    margin: 0 auto;
    width: 1160px;
    padding-top: 46px;
    min-height: 134px;
    border-bottom: 2px solid #eeeeee;
}
.partners {
    display: flex;
    justify-content: space-around;
}
.partners a {
    opacity: 0.2;
}
.partners a:hover {
    opacity: 1;
}
.partners a:active {
    opacity: 0.1;
}
.map {
    width: 319px;
    height: 308px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-left: 140px;
}
.container__map {
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 1440px;
    height: 416px;
    margin-top: 80px;
}
.map p {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin: 0px;
    margin-top: 54px;
}
.map address {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    color: #666666;
}
.map a {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
}
.WriteUs {
    width: 219px;
    height: 50px;
    background-color: #fb565a;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
}
.WriteUs:hover {
    background-color: #e74246;
}
.WriteUs:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.WriteUs:active span {
    opacity: 0.3
}
.Contacts {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 79px;
    margin-top: 69px;
    margin-bottom: 69px;
}
.socialNetwork {
    display: flex;
}
.sale span {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}
.sale p {
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    line-height: 11px;
}
.popUp input[type="text"] {
    width: 360px;
height: 50px;
border: 2px solid #d7dcde;
    opacity: 0.5;
color: #444444;
    line-height: 18px;
}
.popUp input[type="text"]:hover {
    border: 2px solid #b4b9bb;
}
.popUp input[type="text"]:focus {
    border: 2px solid #000000;
    color: #444444;
    opacity: 1.0;
font-weight: 400;
line-height: 18px;
}
.popUp {
    min-height: 590px;
    width: 960px;
    margin: 0 auto;
    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}
.popUp form {
    display: flex;
    flex-direction: column;
}
.popUp p {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}
.popUp label {
    font-size: 16px;
    font-weight: 700;
}
.popUp__Btn {
    width: 260px;
    height: 50px;
    background-color: #fb565a;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
}
.popUp__Btn:hover {
    background-color: #e74246;
}
.popUp__Btn:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.popUp__Btn:active span {
    opacity: 0.3
}
/***********************************************/
/*Стилизация catalog*/
.catalogTitle {
    margin: 0 auto;
    width: 1160px;
    text-align: center;
    display: block;
    padding-top: 82px;
    padding-bottom: 116px;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    background-color: #eeeeee;
}
.filtr form {
    width: 260px;
}
.filtr legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
.productSort {
    display: flex;
    align-items: center;
    width: 760px;
    justify-content: space-between;
}
.productSort P {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}
.items__container {
    width: 760px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container__mainCatalog {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}
.productSort a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
}
.productSort a:hover, .productSort a:focus {
    opacity: 1;
}
.PROPERTY__btn {
    width: 260px;
    height: 50px;
    background-color: #eeeeee;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    border: none;
    text-transform: uppercase;
}
.PROPERTY__btn:hover {
    background-color: #dfdfdf;
}
.PROPERTY__btn:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}
.PROPERTY__btn:active span {
    opacity: 0.3;
}
.pages {
    display: flex;
}
.pages a:nth-child(1), .pages a:nth-child(2), .pages a:nth-child(3) {
    width: 50px;
    height: 50px;
    display: block;
    background-color: #eeeeee;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}
.pages a:nth-child(1):hover, .pages a:nth-child(2):hover, .pages a:nth-child(3):hover, .pages a:nth-child(4):hover {
    background-color: #dfdfdf;
}
.pages a:nth-child(1):active, .pages a:nth-child(2):active, .pages a:nth-child(3):active, .pages a:nth-child(4):active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}
.pages a:nth-child(1):active span, .pages a:nth-child(2):active span, .pages a:nth-child(3):active span, .pages a:nth-child(3):active span {
    opacity: 0.3;
}
.pages a:nth-child(4) {
    width: 260px;
    height: 50px;
    display: block;
    background-color: #eeeeee;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}
.socialNetwork a {
    display: block;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background-color: #eeeeee;
}
.socialNetwork a {
    position: relative;
}
.socialNetwork a:hover {
    background-color: #e74246;
}
.Vk a:active a::before {
    opacity: 0.3;
}
.Vk a::after {
    content: url("../img/vk-icon.svg");
    position: absolute;
    margin: 33%;
}
.Fb a::after {
    content: url("../img/fb-icon.svg");
    position: absolute;
    margin: 33%;
}
.Insta a::after {
    content: url("../img/insta-icon.svg");
    position: absolute;
    margin: 33%;
}
.variantsNetwork label, .PROPERTY label {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.title_promo {
    padding: inherit;
    position: relative
}
.header_link_active a::after {
    display: block;
    content: " ";
    height: 2px;
    background-color: #fb565a;
}
.header_links a:hover, .header_links + a:hover {
    color: #fb565a;
}
.header_links a:active, .header_links + a:active {
    color: #000000;
    opacity: 0.3;
}
.title_promo li {
    padding-top: 67px;
}
.radioNav input[type="radio"] label::before {
    content: " ";
    width: 18px;
    height: 18px;
    background-image: url("../img/radio-off.svg");
}
.slider-controls i {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50%;
}
.slider-controls i.active::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 2px solid #c1c1c1;
    margin: 3px;
}
.product_cart {
    padding-top: 151px;
    position: relative;
}
.ilustration_2 {
    content: "";
    background-image: url("../img/illustration-2.png");
    background-repeat: no-repeat;
    width: 300px;
    height: 146px;
    top: 0px;
}
.ilustration_3 {
    content: "";
    background-image: url("../img/illustration-3.png");
    background-repeat: no-repeat;
    width: 300px;
    height: 146px;
    top: 0px;
}
